@import "tailwindcss";

/* #013782 */

:root {
    padding: 0;
    margin: 0;
  --background: #f2f7ff;
  --foreground: #171717;
  --inputbg: #f9fafb;
}

html.dark {
  --background: #000b1a;
  --foreground: #ededed;
  --inputbg: #030712;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-source-sans);
  --font-logo: var(--font-merriweather);
  --font-heading: var(--font-cabin);
  --color-primary: #013782;
  --color-inputbg: var(--inputbg);
  --color-darkbackground: #000b1a;
  --color-lightbackground: #f2f7ff;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-source-sans), ui-sans-serif, system-ui;
}
